body{
  background-color: black;
  background: linear-gradient(to bottom, #8fedff 50.25%, #016887);
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
  top: 10px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  width: 80vw;
  margin: 0 auto;
  padding: 10px 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

form input[type="search"] {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 12px;
  transition: all 300ms ease-in-out;
}

form input[type="search"]:focus {
  padding-right: 50px;
}

form button {
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  transition: all 300ms ease-in-out;
}

form button:hover {
  background-color: #016887;
  padding: 10px 50px;
  color: white;
}

/* body img{
  position: absolute;
  animation: nuvem 25s infinite linear;
}

body .nuvem2{
  position: absolute;
  top: 100px!important;
  left: -25%;
  animation: nuvem 25s infinite linear 4s;
}

body .nuvem3{
  position: absolute;
  top: 20px!important;
  left: -25%;
  animation: nuvem 25s infinite linear 7s;
} */

.card-principal {
  height: 500px;
  width: 90vw;
  padding: 95px 76px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 12px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.first-column {
  display: flex;
  flex-grow: 1;
  width: 20%;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
}

.second-column {
  flex-grow: 3;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-column{
  width: 20%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-image{
  height: 150px;
}

.cards-container {
  width: fit-content;
  padding: 20px 20px;
  max-width: 94vw;
  display: flex;
  justify-content: flex-start;
  margin: 0 50px;
  border-radius: 12px;  
  overflow: scroll;
  gap: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

#day {
  background: linear-gradient( to bottom, #8FEDFF 50.25%, #016887);
}

#night {
  background: linear-gradient(to bottom, #144176 50.25%, #0087B1);
  background-image: url(../img/nigth_sky_bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
}

@keyframes nuvem {
  0%{
    left: -25%;
    top: 0px
  }
  30%{
    top:50px
  }
  50%{
    top: 15px
  }
  100%{
    left: 100%;
    top:0px
  }
}

/* @media (max-width:800px) {
  body{
    background-image: url(https://gifs.eco.br/wp-content/uploads/2021/10/imagens-e-gifs-do-ceu-azul-19.gif);
  }
} */